#what .items {
  display: block;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#navbar {
  display: block;
  text-align: center;
}

#navbar ul {
  justify-content: center;
  padding: 0.75rem 0;
}

#who {
  display: block;
}

#clients .container img {
  width: 80%;
}
#clients .container div:last-child {
  display: none;
}

#contact {
  display: block;
}

#contact .contact-map {
  height: 200px;
}
