@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* Utility classes */
.text-primary {
  color: #93cb52;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.text-center {
  text-align: center;
}

.border-test {
  border: 1px solid #333;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #93cb52;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.btn:hover {
  background-color: #7ab436;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.bg-light {
  background-color: #ddd;
  color: #333;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}
.bg-primary {
  background-color: #93cb52;
  color: #fff;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1100px;
  overflow: hidden;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
}
#navbar ul li a {
  color: #fff;
  padding: 10px;
}
#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  height: 100vh;
  background-image: url("../img/showcase.jpg");
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What we do */
#what h2 {
  text-align: center;
}

#what .items {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#what .items .item {
  text-align: center;
  padding: 1rem;
}
#what .items .item i {
  background-color: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
#what .items .item h3 {
  margin-bottom: 1rem;
}

/* Section: Who */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background-image: url("../img/people.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Section: Clients */
#clients .container {
  display: flex;
}
#clients .container img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact div {
  flex: 1;
  flex-basis: 50%;
}

#contact .contact-map {
  background: url("../img/people.jpg") center center/cover no-repeat;
}

#contact .contact-form label {
  display: block;
}
#contact .contact-form {
  padding: 2rem;
}

#contact .contact-form input,
#contact .contact-form textarea,
#contact .contact-form button {
  width: 100%;
  padding: 0.5rem;
}
